.root{
    position: relative fixed;
    width: 100%;
    height: 100%;
}

.base{
	position: absolute;
	width: 300px;
	height: 400px;
	position: absolute;
	left: 400px; bottom: 30px;
	background-color: #ED9345;
	border: 0px solid transparent;
	border-left: 10px solid #E67F28;
}

.roof {
    position: absolute;
    left: 375px; bottom: 430px; 
    border: 180px solid transparent; 
    border-bottom: 180px solid #654321; 
}

.table-window {
	position: absolute;
    border-collapse: collapse;
}
.first-window{
	left: 430px;
	bottom: 110px;
}
.second-window{
	left: 430px;
	bottom: 280px;
}
.third-window{
	left: 580px;
	bottom:  280px;
}
.table-window td {
    border: 5px solid #654321;
    width: 35px;
	height: 35px;
	background-color: yellow;
}

.balcony-table{
	position: absolute;
    border-collapse: collapse;
    left: 556px; bottom: 250px
}

.balcony-table td {
    border: 5px solid #3D3D3D;
    width: 15px;
	height: 40px;
}

.door{
	width: 100px;
	height: 180px;
	position: absolute;
	left: 560px; bottom: 30px;
	background-color: #654321;
	border: 0px solid transparent;
	border-left: 5px solid #4C2D10;
}

.door:before {
    content: "\25AE";
    font-size: 50px;
    position: absolute;
	left: 10px; bottom: 70px;
	color: #171717;
}

.bottom{
	width: 360px;
	height: 40px;
	position: absolute;
	left: 375px; bottom: 0px;
	background-color: #3D3D3D;
}